@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
	--active: hsl(220, 98%, 61%);
	--checkBG: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

	/* light Theme */
	--lightBG: hsl(236, 33%, 92%);
	--todoLightRowBG: hsl(0, 0%, 98%);
	--lightTodosTextColor: hsl(235, 19%, 35%);
	--darkTodosTextColorOnHover: hsl(236, 33%, 92%);
	--lightFooterTextColor: hsl(233, 11%, 84%);
	--lightCircleBorder: hsl(233, 11%, 84%);
	--lightTodoBordeBottom: hsla(233, 11%, 84%, 0.5);

	/* dark Theme */
	--darkBG: hsl(235, 21%, 11%);
	--todoDarkRowBG: hsl(235, 24%, 19%);
	--darkTodosTextColor: hsl(234, 39%, 85%);
	--darkTodosTextColorOnHover: hsl(236, 33%, 92%);
	--darkFooterTextColor: hsl(233, 14%, 35%);
	--darkCircleBorder: hsl(233, 14%, 35%);
	--darkTodoBordeBottom: hsla(233, 14%, 35%, 0.5);
	--darkshadow: hsl(237, 14%, 26%);
}

body {
	font-family: "Josefin Sans", sans-serif;
	font-size: 18px;
}
