.darktodoList {
	border: 1px solid var(--todoDarkRowBG);
	border-radius: 0.3rem;
}
.lighttodoList {
	border: 1px solid var(--todoLightRowBG);
	border-radius: 0.3rem;
}

.darktodoList,
.lighttodoList,
.lightTodoListLastRow,
.darkTodoListLastRow {
	transition: all 0.5s;
}
.lightTodoListLastRow {
	background-color: var(--todoLightRowBG);
	color: var(--lightTodosTextColor);
}
.darkTodoListLastRow {
	background-color: var(--todoDarkRowBG);
	color: var(--darkTodosTextColor);
}
