.darkTodo,
.lightTodo {
	padding: 1.2rem 2rem;
	display: flex;
	align-items: center;
	gap: 2;
}

.lightTodo {
	border-bottom: 2px solid var(--lightCircleBorder);
	background-color: var(--todoLightRowBG);
	color: var(--lightTodosTextColor);
}
.darkTodo {
	background-color: var(--todoDarkRowBG);
	color: var(--darkTodosTextColor);
}

.darkCircle,
.lightCircle {
	height: 25px;
	width: 25px;
	background-color: none;
	border-radius: 50%;
	display: inline-block;
	margin-bottom: 0.2rem;
}

.lightCircle {
	border: 1px solid var(--lightCircleBorder);
}

.darkCircle {
	border: 1px solid var(--darkCircleBorder);
}

.lightTodo,
.darkTodo,
.darkCircle,
.lightCircle {
	transition: all 0.5s;
}
